<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>CityListBypageServlet</servlet-name>
        <servlet-class>com.kgc.servlet.CityListBypageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerAddServlet</servlet-name>
        <servlet-class>com.kgc.servlet.PerAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.kgc.servlet.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerUpdateServlet</servlet-name>
        <servlet-class>com.kgc.servlet.PerUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.kgc.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>com.kgc.servlet.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.kgc.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerUpdateServlet</servlet-name>
        <url-pattern>/per_update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerAddServlet</servlet-name>
        <url-pattern>/per_add.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityListBypageServlet</servlet-name>
        <url-pattern>/list.do</url-pattern>
    </servlet-mapping>
</web-app>
